.panda-like .carousel-item{

background-color:  #fceae8;;
border-radius:1em;

}
.take img{

width: 100px;


}
.tangail-card{
    border:0;
}
.ghatail-card{

background-color: white;
border:0;
}
.tangail-card{
border:0;



}